body {
    text-align: center;
    align-items: center;
    background-image: url(fundotela.jpg);
    margin-top: 80px;
}
h3 {

    color: white;
    font-size: 35px;
}
h6 {

    color: white;
    font-size: 25px;
}
.links {
    color: white;
    font-size: 25px;
    list-style: none;
    margin-top: 150px;

}
a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-right: 32px;
}
.marca {
    display: flex;
    justify-content: center;
    margin-top: 150px;

    color: white;
}