body {
    text-align: center;
    align-items: center;
    background-image: url(fundotela.jpg);
    margin-top: 100px;
}
h3 {
    color: white;
    font-size: 35px;
}
.hob {

color: white;
font-size: 25px;
text-indent: 30px;
margin-top: 80px;
}
.segundo {

    color: white;
    font-size: 25px;
    text-indent: 30px;
}
.terceiro {

    color: white;
    font-size: 25px;
    text-indent: 30px;
}
.marca {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: white;
}